
.cart-icon {

    &__container {

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        &:hover {
            cursor: pointer;
            transform: scale(1.5) translateY(.5rem);
          }
          @include respond(tab-port) {
            &:hover {
                cursor: pointer;
                transform: none;
              }
        }
    }

    &__icon {
        width: 100%;
        max-height: 3.5rem;
        min-height: 1.5rem;
        // padding: 1rem;
        display: flex;
        justify-content: flex-start;
        margin-right: .3rem;
        @include respond(phone-tiny) {
            max-height: 2.5rem;
            margin-left: 4.5rem;
          }

    }

    &__itemCount {
        position: absolute;
        font-size: 1rem;
        font-weight: bold;
        color: aqua;
        top: 2.5rem;
        @include respond(tab-port) {
            font-size: .6rem;
        }
        @include respond(phone-tiny) {
            margin-left: 4.3rem;
        }
    }

}





