
/* ### COLORS ### */
$color-white: #FFF;
$color-black: #000;

$color-beige-dark-1: #83744e;

$color-green-light-1: #ccaf69;
$color-green-1: #a58f5b;

$color-blue-1: #8111c2;

$color-grey-light-1: #f1f1f1;
$color-grey-light-2: #e4c8c8;
$color-grey: #888888;
$color-grey-dark-1: #333333;

// FONT-SIZE
$default-font-size: 1.2rem;

// SHADOWs
$shadow-black-light: 0 1rem 2rem rgba($color-black, .15);
$shadow-black-medium: 0 1.5rem 4rem rgba($color-black, .25);

// Border Radius
$border-radius-small: 5px;