.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .7rem .7rem;
        display: inline-block;
        border-radius: 10rem;
    /* all properties are enabled to be animated
    in realtion to the initial state  */
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        &:hover::after {
            transform: scaleX(1.4) scaleY(1.8);
            /* to fade out */
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark-1;
        width: 40%;
        &::after {
            background-color: $color-white;
        }
        @include respond(phone-sm) {
            font-size: .9rem;
            }
    }
    &--black {
        background-color: $color-black;
        color: $color-white;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        width: 40%;
        &::after {
            background-color: $color-black;
        }
        @include respond(phone-sm) {
            font-size: .9rem;
            }
    }
    &--google {
        background-color: $color-blue-1;
        color: $color-white;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        width: 60%;
        &::after {
            background-color: $color-blue-1;
        }
        @include respond(phone-sm) {
            font-size: .9rem;
            }
    }


    &::after {
    /* to let the after sudo element appear on the page
    we need to specify content & display even when it's empty  */
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    /* all properties are enabled to be animated
    in realtion to the initial state  */
    transition: all .4s;
    }
    &:hover::after {
        transform: scaleX(1.4) scaleY(1.8);
        /* to fade out */
        opacity: 0;
    }   
    &--animated {
        animation: moveInButton 2s ease-out .25s;
    /* prevents the button to be visible before the animation happens */
        animation-fill-mode: backwards;
    }    
    &--animated-2 {
        animation: moveInLeft 2s ease-out .25s;
    /* prevents the button to be visible before the animation happens */
        animation-fill-mode: backwards;
    }    
}